<!DOCTYPE html>

<html>
<head>
     <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Aleksander Włodarczyk. It uses data from mapbox.com</p>
    <img class="portrait" src="/img/przycięty dziweciak.png">
    </div>
    {{>footer}}
</body>

</html>
